/* shipping details */
.woocommerce div.cart-collaterals div.cart_totals {
  width: auto !important;
}
/* example shrink table in steps */
@media screen and (max-width: 480px) {
  .woocommerce .content .container .container_inner,
  .woocommerce-page .content .container .container_inner {
    margin-left: 30px !important;
    margin-right: 30px !important;
    width: 380px !important;
  }
  .vc_column_container .vc_column-inner {
    padding-left: 0 !important ;
    padding-right: 0 !important ;
   }
   .woocommerce-cart-form {
     font-size: 14px;
   }
   .product-thumbnail {
     display: none;
   }
}
@media screen and (max-width: 375px) {
  .woocommerce .content .container .container_inner,
  .woocommerce-page .content .container .container_inner {
    margin-left: 20px !important;
    margin-right: 20px !important;
    width: 300px !important;
  }
  .woocommerce-cart-form {
     font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .woocommerce .content .container .container_inner,
  .woocommerce-page .content .container .container_inner {
    width: 284px !important;
  }
}