/*KLEBERSON COMEÇOU*/
/*SLIDER DA HOMEPAGE*/
#smartslider3-5{
	display:none;
}
@media only screen and (max-width: 770px){
	#smartslider3-5{
		display:block;
	}
	#smartslider3-3{
		display:none;
	}
}
/* Configuração pagina Promoção para mobile*/
.wc-block-grid__product .wc-block-grid__product-add-to-cart, .wc-block-grid__product .wc-block-grid__product-image, .wc-block-grid__product .wc-block-grid__product-price, .wc-block-grid__product .wc-block-grid__product-rating, .wc-block-grid__product .wc-block-grid__product-title {
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
}
/* Image */
.hentry p img{
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

/* Division */
.wp-block-product-on-sale .wc-block-grid__product-title{
	text-align:center;
	text-transform:capitalize;
}

/* Price */
.wp-block-product-on-sale .price{
	text-align:center;
}

/* Block button */
.wp-block-product-on-sale .wp-block-button{
	text-align:center;
}

/* Link */
div #main .hentry .entry-content .wp-block-product-on-sale .wc-block-grid__products .wc-block-grid__product .wp-block-button a{
	font-size:0.9em !important;
}

/* List Item */
.wp-block-product-on-sale li{
	box-shadow:0px 0px 15px 0px #fe80a6 inset;
	border-width:10px;
	border-top-left-radius:3em;
	border-top-right-radius:3em;
	border-bottom-left-radius:3em;
	border-bottom-right-radius:3em;
}

/* Thumbnail Image */
.wp-block-product-on-sale .wp-post-image{
	margin-top:2em;
}

/* 2700px and below screen sizes */
@media (max-width:2700px){

	/* Division */
	.wp-block-product-on-sale .wc-block-grid__product-image{
		text-align:center;
	}
	
	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span span{
		padding-left:0px;
		padding-right:0px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:-18px;
		margin-bottom:5px;
		margin-left:-2px;
		margin-right:-7px;
	}
	
}

/* 900px and below screen sizes */
@media (max-width:900px){

	/* Division */
	.wp-block-product-on-sale .wc-block-grid__product-title{
		text-align:center;
		text-transform:capitalize;
	}
	
	/* Price */
	.wp-block-product-on-sale .price{
		text-align:center;
	}
	/* To cart button */
	.wp-block-product-on-sale .wp-block-button .add_to_cart_button{
		width:96px;
	}
	
	/* Forward */
	.wp-block-product-on-sale .wp-block-button .wc-forward{
		width:96px;
	}
	
}

/* 600px and below screen sizes */
@media (max-width:600px){

	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span{
		padding-right:31px !important;
		padding-left:33px !important;
		margin-left:168px;
	}
	
}

/* 575px and below screen sizes */
@media (max-width:575px){

	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span{
		min-height:5em;
		margin-left:10em;
		margin-top:1em;
		margin-right:-1em;
		font-size:1em !important;
		margin-bottom:1em;
		padding-left:3em !important;
		padding-right:5em !important;
		padding-top:2em !important;
		padding-bottom:1em !important;
	}
	
	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span span{
		margin-right:-3em;
		margin-left:0.5em;
		padding-left:0em;
		padding-right:2em;
		font-size:1.5em;
		text-transform:capitalize;
		margin-top:-18em;
		margin-bottom:5em;
		padding-top:0em;
		padding-bottom:0em;
		min-height:0em;
	}
	
}

/* 480px and below screen sizes */
@media (max-width:480px){

	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span{
		margin-left:63em;
		margin-top:0em;
		font-size:1em !important;
		padding-bottom:1em !important;
		padding-top:3em;
		padding-right:5em !important;
		padding-left:3em !important;
		margin-right:-1em;
		margin-bottom:8em;
	}
	
	/* Span Tag */
	.wp-block-product-on-sale .wc-block-grid__product > span span{
		margin-left:1em;
		margin-right:-3em;
		padding-left:0em;
		padding-right:2em;
		padding-top:0em;
		padding-bottom:0em;
		font-size:1.5em;
		margin-top:-18em;
		margin-bottom:5em;
	}
	
}


/* 481px and above screen sizes */
@media (min-width:481px){

	/* Thumbnail Image */
	.mt-container #primary div #main .hentry .entry-content .wp-block-product-on-sale .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-link .wc-block-grid__product-image .wp-post-image{
		width:18em !important;
	}
	
}

/*MENU EXPANSIVO*/
/* 980px and below screen sizes */
@media (max-width:980px){

	/* Menu Item */
	#primary-menu .sub-menu .menu-item{
		width:66%;
	}
	
	/* Sub Menu */
	#primary-menu .menu-item ul{
		width:172px !important;
		min-width:172px !important;
	}
	
	/* Link */
	.sub-menu .menu-item a{
		line-height:0.5em;
		width:130%;
		text-align:center;
		font-style:italic;
		text-transform:capitalize !important;
	}
	
	/* Link */
	.primary-menu-wrap .menu-item .sub-menu a{
		font-size:0.7em !important;
	}
}
/* 360px and below screen sizes */
@media (max-width:360px){

	/* Sub Menu */
	#primary-menu .menu-item ul{
		width:172px;
		background-color:transparent !important;
		
	}
	
	/* Link */
	.sub-menu .menu-item a{
		min-width:112px !important;
		width:112px;
	}
	
	/* Division */
	#menu-principal-semchilique{
		width:175px;
	}	
}